.sidebar{
    position: absolute;
    width: 51px;
    height: 1088px;
    left: 0px;
    top: 0px;
    

    background: linear-gradient(180deg, #0DB2D6 8.12%, #4FDA91 71.62%);
    }
    .elipse{
        position: fixed;
        top: 130px;
        left: 0px;
        z-index: 1000px;
        display: flex;
        background-color: #FFFFFF;
        width: 51px;
        height: 51px;
        border-radius: 100px;
        border-style: none;
        align-items: center;
        justify-content: center;
        transition: 250ms;
        }
        .fa-bars{
            font-size: large;
            background-color: #FFFFFF;
        }
    .elipse:hover{
        border-radius: 0px;
        transition: 250ms;
    }