.statusap{
    position: absolute;
    width: 355px;
    height: 325px;
    left: 484px;
    top: 365px;

    background: #FFFFFF;
    border: 0.5px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 60px
    }
    .rosca{
        background: #FFFFFF;
    }